- form_for @message, :url => user_messages_path(@user) do |f|
  %p 
    To:
    %br
    = text_field :message, :recipient
    = error_message_on @message, :recipient
  %p
    Subject:
    %br
    = f.text_field :subject
    = error_message_on @message, :subject
    %p
      Message:
      %br
      = f.text_area :body
      = error_message_on @message, :body
    %p
      = submit_tag "Send"

