= flash[:notice]
= link_to "New Feature", new_admin_feature_path
%br
- @features.each do |feature|
  = feature.title
  = link_to "View Feature", admin_feature_path(feature)
  |
  = link_to "Edit Feature", edit_admin_feature_path(feature)
  |
  = link_to "Delete Feature", admin_feature_path(feature), :method => :delete, :confirm => t(:confirm_deletion, :thing => "feature")
  |
  - unless feature.first?
    = link_to theme_image_tag("top.jpg", :alt => t(:Top), :title => t(:Top)), move_to_top_admin_feature_path(feature), :method => :put
    = link_to theme_image_tag("up.jpg", :alt => t(:Up), :title => t(:Up)), move_up_admin_feature_path(feature), :method => :put
  = feature.position
  - unless feature.last?
    = link_to theme_image_tag("down.jpg", :alt => t(:Down), :title => t(:Down)), move_down_admin_feature_path(feature), :method => :put
    = link_to theme_image_tag("bottom.jpg", :alt => t(:Bottom), :title => t(:Bottom)), move_to_bottom_admin_feature_path(feature), :method => :put
  %br
= will_paginate(@features)