= form_for [:admin, photo], :html => { :multipart => true } do |f|
  %div{:class => "field"}
    %div=  f.label :title
    %div= f.text_field :title
  %div{:class => "field"}
    %div= f.label :description
    %div= f.text_area :description, :size => "27x1"
  %div{:class => "actions"}
    %div= f.submit