#article_content
  #header.partner
    %center
      %span.partners Main Sponsor
      %span.other= " of Team Grubby"
  #partner_body
    %br
    %center
      %div{:style => "width: 90%; height: 210px"}
        %span{:style => "float:left"}
          %a{:href => "http://steelseries.com/"}
            = image_tag("/images/steel_logo.png")
        %span{:style => "color: #BFBFBF; float: left; font-size: 14px; margin-left: 35px; width: 470px;"}
          %div Steelseries is the official sponsor of Team Grubby.
          %br
          %div SteelSeries is a leading manufacturer of gaming peripherals, including headsets, keyboards, mice, software and gaming surfaces. For the past decade, SteelSeries has been on the forefront of competitive gaming gear thanks to continued innovation and product development in cooperation with leading professional gaming teams. 
          %br
          %div 
            %span SteelSeries also supports the growth of competitive gaming tournaments and electronic sports leagues through professional team sponsorships, partnerships, and community support all over the world. For more information, please visit 
            %a{:href => "http://steelseries.com/", :target => "_blank"} steelseries.com.
      %br
      %div{:style => "color: #BFBFBF; font-size: 14px;margin-top: 25px; width: 90%;"} 
        %span Grubby is entering the 2011 professional StarCraft II tournament season with SteelSeries as his main sponsor fully supported with SteelSeries peripherals in his arsenal including, the 
        %a{:href => "http://steelseries.com/products/audio/steelseries-7h", :target => "_blank"} SteelSeries 7H headset,
        %span the
        %a{:href => "http://steelseries.com/products/surfaces/steelseries-5l", :target => "_blank"} SteelSeries 5L mousepad,
        %span the
        %a{:href => "http://steelseries.com/products/mice/steelseries-ikari-laser", :target => "_blank"} SteelSeries Ikari Laser mouse,
        %span and the
        %a{:href => "http://steelseries.com/products/keyboards/steelseries-6gv2", :target => "_blank"} SteelSeries 6Gv2 keyboard.
      %br
        %a.mouse_pad{:href => "http://steelseries.com/products/surfaces/steelseries-5l", :target => "_blank"}
        %a.headset{:href => "http://steelseries.com/products/audio/steelseries-7h", :target => "_blank"}  
        %a.keyboard{:href => "http://steelseries.com/products/keyboards/steelseries-6gv2", :target => "_blank"}
        %a.mouse{:href => "http://steelseries.com/products/mice/steelseries-ikari-laser", :target => "_blank"}
        = image_tag("/images/steel_products.png")
%br
%br
#article_content
  #header.partner
    %center
      %span.partners Partners
      %span.other= " of Team Grubby"
  #partner_body
    %br
    %center
      %div{:style => "width: 90%;"}
        %a{:href => "http://egsinc.org/", :target => "_blank"}
          = image_tag("/images/egs.jpg")
        %span{:style => "color: #BFBFBF; font-size: 14px; width: 90%"}
          %div EGS operates game content and competition on television and the Internet, paid online game competitions with live gaming events on national and international TV channels. In this way, "hidden" online game talents will grow to become international TV stars and anybody can enter the competitive gaming scene.
      %div{:style => "width: 90%; height: 1px; background-color: white; margin-bottom: 15px; margin-top: 15px;"}
      %div{:style => "width: 90%;"}
        %a{:href => "http://enuzi-clothing.com/", :target => "_blank"}
          = image_tag("/images/jersey.png")
        %span{:style => "color: #BFBFBF; font-size: 14px; width: 90%"}
          %div Enuzi Clothing is specialized in custom made clothing. They decide what they make for you! Enuzi specializes in high quality custom clothing for your specialized needs. Their mission is to dress everyone in their own style clothes.
      %div{:style => "width: 90%; height: 1px; background-color: white; margin-bottom: 15px; margin-top: 15px;"}
      %div{:style => "width: 90%; height: 210px"}
        %a{:href => "http://joshuakeyes.net/", :target => "_blank"}
          = image_tag("/images/raihnbanner.jpg")
        %span{:style => "color: #BFBFBF; font-size: 14px; width: 90%"}
          %div Raihn aka Joshua Keyes is a freelance artist, graphic designer, and all around BAMF. Many of you may remember him from his work on WCR doing the Art of War
%br
%br
#article_content
  #header.partner
    %center
      %span.other= "Team Grubby "
      %span.partners Buddies
  #partner_body
    %br
    %center
      %div{:style => "width: 90%; height: 210px"}
        %a{:href => "http://joshuakeyes.net/", :target => "_blank"}
          = image_tag("/images/raihnbanner.jpg")
        %span{:style => "color: #BFBFBF; font-size: 14px; width: 90%"}
          %div Raihn aka Joshua Keyes is a freelance artist, graphic designer, and all around BAMF. Many of you may remember him from his work on WCR doing the Art of War
%br
%br
#article_content
  #header.partner
    %center
      %span.other= "Team Grubby "
      %span.partners Projects
  #partner_body
    %br
    %center
      %div{:style => "width: 90%; height: 210px"}
        %a{:href => "", :target => "_blank"}
          = image_tag("/images/gss.jpg", :size => "125x134")
        %span{:style => "color: #BFBFBF; font-size: 14px; width: 90%"}
          %div Combining his experience with that of the EGS, Grubby hopes to bring another great source of gaming entertainment and participation to gamers around the world. Together with EGS, Grubby will be working on setting up an exclusive new StarCraft II competition called the Grubby StarCraft II Series (GSS). Stay tuned for more information about the GSS.