.topic.light-box
  %center
    %h2= @topic.subject
  = pagination = will_paginate(@posts)
  .posts.listing
    = render :partial => @posts, :locals => { :show_topic => false }
  - if current_user.can?(:reply)
    #quick-reply{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
      %h3 Say Something
      = form_for [@topic, @post] do |f|
        = render :partial => "posts/form", :locals => { :f => f, :rows => 10, :cols => 70, :submit => "Reply", :label => false }
  =raw pagination
  %a#Bottom

