%div.reply_box
  - if params[:action] == "new" && params[:controller] == "topics"
    %div= f.label 'subject', "Topic Subject"
    %div= f.text_field 'subject'
  .user_info
    %span.post_user
      = link_to(h(current_user), current_user)
    %br
    - if current_user.has_avatar?
      = image_tag current_user.avatar
    - elsif current_user.uid
      = image_tag("http://graph.facebook.com/#{current_user.uid}/picture")
    = current_user.rank
    %br
    == #{current_user.online? ? t(:Online) : t(:Offline)} - #{current_user.posts.count} #{t(:posts)}
    %br
    == #{t(:Since)} #{current_user.created_at.strftime(date_display)}
    %br
    ==
  %div.reply_text
    - fields_for @post do |post|
      = post.text_area 'text', :cols => 80, :rows => 10
    = submit_tag "Create"

