#forum_body
  #header
    %span.breadcrumbs.left_header
      = link_to(t(:Forums), forums_path)
      \&raquo; #{raw breadcrumb(@forum)} &raquo;
      %span.current= "#{t(:Creating_a_topic)}"
  #forums_body
    #quick-reply
      = error_messages_for :post, :topic
      - form_for [@forum, @topic], :html => { :multipart => true } do |f|
        %div= f.label 'subject', t(:Subject)
        %div= f.text_field 'subject'
        = render :partial => "form", :locals => { :f => f }      
        = submit_tag "Create"
    %div.powered_by
      %span Forums powered by 
      %a{:href => "https://github.com/radar/rboard", :target => "_blank"} rBoard    