- @title = t(:Viewing_topic, :forum => @forum, :topic => @topic)
- content_for :feed do
  %link{:href => forum_topic_url(@topic.forum, @topic, :format => :rss), :rel => "alternate", :title => "#{@topic.subject} Feed", :type => "application/rss+xml"}
#forum_body
  #header  
    %span.breadcrumbs.left_header
      = link_to(t(:Forums), forums_path)
      \&raquo; #{raw breadcrumb(@topic.forum)} &raquo; #{link_to(@topic.subject, forum_topic_path(@forum, @topic), :class => "current")}
    %span.right_header
      - if current_user.can?(:subscribe, @forum)
        - if @subscription
          = link_to(t(:Unsubscribe), topic_subscription_path(@topic, @subscription), :method => :delete)
        - else
          = link_to(t(:Subscribe), topic_subscriptions_path(@topic), :method => :post)
  #forums_body
    = pagination = will_paginate(@posts)
    - if current_user.can?(:view_reports, @forum)
      .warning
        = t(:Topic_has_been_reported, :count => @topic.reports.count)
        = link_to t(:See_reports), moderator_topic_reports_path(@topic)
    .posts.listing
      = render :partial => @posts, :locals => { :show_topic => false }
    - if current_user.can?(:reply)
      #quick-reply{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
        - form_for [@topic, @post] do |f|
          = render :partial => "posts/form", :locals => { :f => f, :rows => 10, :cols => 70, :submit => "Reply", :label => false }
    =raw pagination
