%div.jobs.box
  %center
    %h2= t(:Signup)
  - form_for :user, :url => { :action => :signup, :fb => params[:fb] }, :html => {:id => "user_form"} do |f|
    = error_messages_for 'user'
    %p
      = f.label :login, "Username"
      %br
      = f.text_field :login
    %p
      = f.label :email, t(:Email)
      %br
      = f.text_field :email
    %p
      = f.label :password, t(:Password)
      %br
      = f.password_field :password
    %p
      = f.label :password_confirmation, t(:Confirm_Password)
      %br
      = f.password_field :password_confirmation
    = hidden_field_tag :access_token
    = hidden_field_tag :uid
    %p= submit_tag t(:Signup)
