%h2
  - if @reportable
    = t(:Reports_for, :thing => report_text(@reportable))
  - else
    = t(:Recently_reported_posts_and_topics)
%table.list-table{:cellpadding => "5", :cellspacing => "0", :rules => "groups", :width => "100%"}
  - unless @reports.empty?
    %thead
      %tr
        %td &nbsp;
        %td Post or Topic
        %td= t(:Report)
        %td= t(:Reported_by)
        %td= t(:Reported_on)
    %tbody
      - for report in @reports
        - @reportable = report.reportable
        - if @reportable.is_a?(Topic)
          - link = forum_topic_path(@reportable.forum, @reportable)
        - else report.reportable.is_a?(Post)
          - link = forum_topic_path(@reportable.forum,@reportable.topic) + "/#{@reportable.page_for(current_user)}" + "#post_#{@reportable.id}"
        %tr
          %td= link_to theme_image_tag("delete.png"), moderator_report_path(report), :confirm => t(:confirm_deletion, :thing => "report")
          %td= link_to "#{report.reportable_type} #{report.reportable_id}", link, :target => "_blank"
          %td= truncate(report.text, 100)
          %td= report.user
          %td= report.created_at.strftime(date_time_display)
  - else
    %thead
      %tr
        %td{:colspan => "4"}
          %b There are no topics in your moderation queue.
