= flash[:notice]
= link_to "New Status", new_admin_status_path
%br
- @statuses.each do |status|
  = status.message
  = link_to "View Status", admin_status_path(status)
  |
  = link_to "Edit Status", edit_admin_status_path(status)
  |
  = link_to "Delete Status", admin_status_path(status), :method => :delete, :confirm => t(:confirm_deletion, :thing => "status")
  |
  - unless status.first?
    = link_to theme_image_tag("top.png", :alt => t(:Top), :title => t(:Top)), move_to_top_admin_status_path(status), :method => :put
    = link_to theme_image_tag("up.png", :alt => t(:Up), :title => t(:Up)), move_up_admin_status_path(status), :method => :put
  = status.position
  - unless status.last?
    = link_to theme_image_tag("down.png", :alt => t(:Down), :title => t(:Down)), move_down_admin_status_path(status), :method => :put
    = link_to theme_image_tag("bottom.png", :alt => t(:Bottom), :title => t(:Bottom)), move_to_bottom_admin_status_path(status), :method => :put
  %br
