#forum_body
  #header
    %span.left_header
      = t(:Editing_a_reply_in)
      = @topic.subject
  #forums_body
    = error_messages_for 'post'  
    #quick-reply  
      - form_for [@topic, @post] do |f|
        = hidden_field_tag("quote", params[:quote])
        = render :partial => "form", :locals => { :f => f, :cols => 70, :rows => 20, :label => true }
    %div.powered_by
      %span Forums powered by 
      %a{:href => "https://github.com/radar/rboard", :target => "_blank"} rBoard