<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
%html
  %head
    = csrf_meta_tag
    %link{:rel => "shortcut icon", :href=>"/favicon.ico"}
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/rails.js"></script>    
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>    
    = include_stylesheets :common
    = include_javascripts :common
    = yield :head
  %title FollowGrubby.com
  - if Rails.env == 'production'
    :javascript
      (function ($) {
      $(document).ajaxSend(function(event, xhr, settings){ 
      _gaq.push(['_trackPageview', settings.url]);
      });
      $(document).ready(function() {
        $(".ad").click(function(e) {
          _gaq.push(['_trackEvent', "ad_click", "position",  e.pageX + "," + e.pageY]);
        })
      });
      })(jQuery);   
  :javascript
    String.prototype.append_zero = function () {
        if (this[0] == "0" || this.length == 2) {
          return this
        } else {
          return "0" + this
        }
      }
    var event_data;
    var dates = [];
    ( function($) {
    $(document).ready(function() {      
      initCssBrowserIdentifer();
      if (jQuery.browser.msie) {
        $('.signup').corner('7px');
        $('#header').corner('top');
      }
      $("#fb_connect").click(function() {
        
      });
      if ($("#post_text").length != 0) {
        $('#post_text').wysiwyg({
          css: '/stylesheets/editor.css',
          iFrameClass: 'wysiframe',
          controls: {
            insertTable: false,
            insertImage: false
          },
          messages: {
            nonSelection: "Select the text you wish to link"
          }
        });
        
      }
      event_data = $.parseJSON($("#events").html());
      $("#upcoming_events").click(function() {
        $('.upcoming').show();
      });
      
      var event_data = $.parseJSON($("#events").html());
      for (var i = 0; i < event_data.length; i++) {
        year = event_data[i][0];
        month = event_data[i][1]-1;
        day = event_data[i][2];
        dates.push(new Date(year, month, day));
      }
      $("#datepicker").datepicker({ 
        monthNames: ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],
        beforeShowDay: highlightDays,
        onSelect: function(dateText, inst) { 
           $(".event_info[date_text!="+ dateText+ "]").addClass('hidden');
           $(".event_info[date_text="+ dateText+ "]").removeClass('hidden');
        }
      });
    });
    
    
    function highlightDays(date) {
      for (var i = 0; i < dates.length; i++) {
        if (dates[i].getTime() == date.getTime()) {
          return [true, 'highlight'];
        }
      }
      return [true, ''];
    }
    } ) ( jQuery );
  %body
    %div#fb-root
    %script{:src => "http://connect.facebook.net/en_US/all.js"}
    :javascript
      FB.init({
        appId  : '159271560800336',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
      });
    %div#background    
      #user_nav
        .wrapper
          %span.grey
          %div.hidden
          - unless logged_in?
            = image_tag ("http://grubby.muppetshow.org/Images/page_assets/login_icon_facebook.png", :id => "fb_connect")
            - form_tag "/login", :action => :post, :id => "login-form" do
              %span.cgoth_b Login
              = text_field_tag 'login'
              %div#password_div.hidden
                %span.cgoth_b Password
                = password_field_tag 'password'
                %span#remember_label Remember Me:
                = check_box_tag "remember_me"
                = submit_tag "Login", :id => "submit"
            %span.grey
            = link_to "Register", signup_path, :class => "signup"
          - else
            %span{ :id => "logged-in-as", :style => "position: relative; left: 10px; top: 3px;"}
              - if logged_in?
                = t(:Logged_in_as)
                = link_to h(current_user), edit_user_path(current_user)
                %span= "|"
                = link_to t(:Logout), logout_path
                - if current_user.can?(:access_admin_section)
                  %span= "|"
                  = link_to "admin section", "/admin"
                %span= "|"
                = link_to "messages", user_messages_path(current_user)
                %span.notice{:style => "position: relative; top: 0px; left: 20px"}= flash[:notice]
          - unless logged_in?
            %span.notice{:style => "position: relative; top: -8px; left: 20px"}= flash[:notice]
      .wrapper
        %div#logo_box
          = image_tag "http://grubby.muppetshow.org/Images/page_assets/grubby_header_logo.png", :class => "logo"
          - @logos.each_with_index do |logo, i|
            - if logo.link.blank?
              %span.sponsor{:style => "left: #{500 + (i * 124)}px"}
                = image_tag logo.picture.url
            -else
              %a.sponsor{:href => logo.link, :target => "_blank", :style => "left: #{500 + (i * 124)}px"}
                = image_tag logo.picture.url
        = navigation [:home, "News"], [:tvs, "GrubbyTV"], [:downloads, "Downloads"], [:albums, "Gallery"], [:shop, "Shop"], [:forums, "Discussions"], [:welcome, "Welcome"], [:partners, "Pylon"]
      #content
        #main
          %div#ad_banner.ad
            %a#banner_overlay{:href => "#{@banner_target}", :target=>"_blank"}
            %div#flash
            :javascript
              var so = new SWFObject("#{@banner_ad}", "#{@banner_ad}", "728", "90", "8","#ffffff");
              // this next line is the important one
              so.addParam("wmode", "opaque");
              so.write("flash");
          = yield
        #side_bar
          %div.box
            %div.inner_box
              %a{:href => "http://www.facebook.com/followgrubby", :target => "_blank"}
                = image_tag("http://grubby.muppetshow.org/Images/page_assets/fb_button.png")
              %a{:href => "http://www.twitter.com/followgrubby", :target => "_blank"}
                = image_tag("http://grubby.muppetshow.org/Images/page_assets/tw_button.png")
              %a{:href => "http://www.followgrubby.tumblr.com", :target => "_blank"}
                = image_tag("http://grubby.muppetshow.org/Images/page_assets/tr_button.png")
              %a{:href => "http://t.qq.com/FollowGrubby", :target => "_blank"}
                = image_tag("http://grubby.muppetshow.org/Images/page_assets/qq_button.png")
              %a{:href => "http://www.youtube.com/user/FollowGrubby", :target => "_blank"}
                = image_tag("http://grubby.muppetshow.org/Images/page_assets/yt_button.png")
              %center
                %div= like_button("http://followgrubby.com")
                %div.follow FOLLOW GRUBBY
          %div.status_box
            - if @status
              %div.inner_status_box= auto_link(@status.message, :html => { :target => '_blank' })
          %div.calendar
            %div#events.hidden= @events.collect{|e| [e.date.year, e.date.month, e.date.day]}.to_json
            %center
              %div#datepicker{:type => "text", :stlye => "font-size: 12px"}
            %center
              %div#upcoming_events Upcoming Events
            - @events.each do |event|
              - css_class = "hidden"
              - if event.date.strftime('%d%m') == @now.strftime('%d%m') || @next_three.member?(event)
                - css_class = "upcoming"
              %div.event_info{:date_text => event.date.strftime('%m/%d/%Y'), :class => css_class}
                %a{:href => url_for (event.link), :target => external_target(event.link)}                  
                  %span.event_day= event.date.day
                  %span.suffix= event.date.day.ordinalize.gsub(/\d/, '')
                  %span= event.date.strftime("%b")
                  %span -
                  %span.event_title= event.title
                  %span.event_hour{:class => "#{event.show_time ? "" : "hidden"}"}= event.date.strftime('%H:%M')
          %div.ad{:style => "margin-top: 15px; margin-left:10px; width: 160px; height: 600px;"}
            %a#side_overlay{:href => "#{@banner_target}", :target=>"_blank"}
            %div#side_flash
            :javascript
              var so = new SWFObject("#{@side_ad}", "#{@side_ad}", "160", "600", "8","#ffffff");
              // this next line is the important one
              so.addParam("wmode", "opaque");
              so.write("side_flash");
          %div.ad{:style => "margin-top: 15px; margin-left:10px; width: 160px; height: 600px;"}
            :javascript
              google_ad_client = "ca-pub-8728388090671471";
              /* FollowGrubby.com Vertical */
              google_ad_slot = "4523455690";
              google_ad_width = 160;
              google_ad_height = 600;
              google_ad_format = "skyscraper"
            %script{:type => "text/javascript", :src => "http://pagead2.googlesyndication.com/pagead/show_ads.js"}
    - if Rails.env == "production"
      :javascript
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23142738-2']);
          _gaq.push(['_trackPageview']);
    
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    %center
      #footer
        %a{:href => '/users/contact'} Contact Us
        %span.grey= "|"
        %a{:href => "/pages/privacy"} Privacy Policy
        %span.grey= "|"
        %a{:href => "/pages/terms"} Terms of Use
        %span.grey= "|"
        %a{:href => "/users/jobs"} Jobs Inquiry
        %span.grey= "|"
        %a{:href => "/partners"} Sponsorship
        %br
        %div All Content &copy; FollowGrubby.com 2011 - 2012
      %div.hidden
        - form_tag("/fb_login", :id => "fb_form") do
          = hidden_field_tag "access_token"
          = hidden_field_tag "uid"
